h1{
	text-align: center;
	font-family: LEMON MILK;
}
body{
	text-align: center;
}
p{
   font-family: BigNoodleTitling;

}
table{
		margin-right: auto;
	margin-left: auto;
	border-style: solid;
	border-color: red ;
}

body{
 background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/KFC_Logo.svg/2560px-KFC_Logo.svg.png) no-repeat center center fixed; 
background-size: cover;
background-size: cover;
background-size: cover;
  background-size: cover;

