h1{
	text-align: center;
	font-family: LEMON MILK;
}
body{
	text-align: center;
}
p{
   font-family: BigNoodleTitling;

}
table{
		margin-right: auto;
	margin-left: auto;
	border-style: solid;
	border-color: red ;
}

body{
	background-color: white;
}
.logo{
	border-radius:50px;
}

